<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="UI.SidePanelModule" />
    <assembly name="Service.Global" />
    <namespace name="Service.Global.Theming" />
    <namespace name="UI.SidePanelModule" />
    <namespace name="UI.SidePanelModule.ViewModels" />
    <namespace name="UI.SidePanelModule.ViewModels.BaseTypes" />
    <namespace name="UI.SidePanelModule.Views" />
    <container>
      <register type="ISelectedDayAccountsSidePaneViewModel" mapTo="SelectedDayAccountsSidePaneViewModel">
        <lifetime type="singleton" />
      </register>
      <register type="ISettingsSidePaneViewModel" mapTo="SettingsSidePaneViewModel">
        <lifetime type="singleton" />
        <constructor>
          <param name="themeManager">
            <dependency />
          </param>
        </constructor>
      </register>
      <register type="IAboutSidePaneViewModel" mapTo="AboutSidePaneViewModel">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</configuration>