<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="UI.CalendarModule" />
    <assembly name="Service.Data" />
    <namespace name="UI.CalendarModule" />
    <namespace name="Service.Data" />
    <namespace name="UI.CalendarModule.ViewModels" />
    <namespace name="UI.CalendarModule.ViewModels.BaseTypes" />
    <namespace name="UI.CalendarModule.Views" />
    <container>
      <register type="ICalendarGridViewModel" mapTo="CalendarGridViewModel">
        <lifetime type="singleton" />
      </register>
      <register type="ICalendardHeaderViewModel" mapTo="CalendarHeaderViewModel">
        <lifetime type="singleton" />
        <constructor>
          <param name="dayOfWeekRepository">
            <dependency />
          </param>
        </constructor>
      </register>
      <register type="ICalendarUniformGridViewModel" mapTo="CalendarUniformGridViewModel">
        <lifetime type="singleton" />
        <constructor>
          <param name="eventAggregator">
            <dependency />
          </param>
          <param name="paymentRepository">
            <dependency />
          </param>
          <param name="dayOfWeekRepository">
            <dependency />
          </param>
        </constructor>
      </register>
    </container>
  </unity>
</configuration>