<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="UI.HeaderModule" />
    <namespace name="UI.HeaderModule" />
    <namespace name="UI.HeaderModule.ViewModels" />
    <namespace name="UI.HeaderModule.ViewModels.BaseTypes" />
    <namespace name="UI.HeaderModule.Views" />
    <container>
      <register type="ICalendarHeaderViewModel" mapTo="CalendarHeaderViewModel">
        <lifetime type="singleton" />
        <constructor>
          <param name="eventAggregator">
            <dependency />
          </param>
        </constructor>
      </register>
    </container>
  </unity>
</configuration>