<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Service.Global" />
    <namespace name="Service.Global" />
    <namespace name="Service.Global.Interceptors" />
    <namespace name="Service.Global.Interceptors.Logging" />
    <namespace name="Service.Global.Logging" />
    <namespace name="Service.Global.Theming" />
    <container>
      <register type="IFinancialTrackerLogger" mapTo="FinancialTrackerLogger">
        <lifetime type="singleton" />
      </register>
      <register type="IUiThemeManager" mapTo="UiThemeManager">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</configuration>