<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Service.Data" />
    <namespace name="Service.Data" />
    <namespace name="Service.Data.Contexts" />
    <namespace name="Service.Data.Repositories" />
    <namespace name="Service.Data.Repositories.PaymentRepository" />
    <namespace name="Service.Data.Repositories.DayOfWeekRepository" />
    <container>
      <register type="IPaymentRepository" mapTo="PaymentRepository">
        <lifetime type="transient" />
      </register>
      <register type="IDayOfWeekRepository" mapTo="DayOfWeekRepository">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</configuration>