<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="modules"
             type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <modules>
    <module assemblyFile="Service.Data.dll"
            moduleType="Service.Data.DataModule, Service.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="DataModule" startupLoaded="true" />
    <module assemblyFile="Service.Global.dll"
            moduleType="Service.Global.GlobalModule, Service.Global, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="GlobalModule" startupLoaded="true" />
    <module assemblyFile="UI.HeaderModule.dll"
            moduleType="UI.HeaderModule.HeaderModule, UI.HeaderModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="HeaderModule" startupLoaded="true" />
    <module assemblyFile="UI.WindowCommandsModule.dll"
            moduleType="UI.WindowCommandsModule.CommandsModule, UI.WindowCommandsModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="CommandsModule" startupLoaded="true" />
    <module assemblyFile="UI.CalendarModule.dll"
            moduleType="UI.CalendarModule.CalendarModule, UI.CalendarModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="CalendarModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="DataModule" />
      </dependencies>
    </module>
    <module assemblyFile="UI.SidePanelModule.dll"
            moduleType="UI.SidePanelModule.SidePanelModule, UI.SidePanelModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="SidePanelModule" startupLoaded="true" />
  </modules>
  <appSettings>
    <add key="databaseName" value="FinTrack.Db.Dev" />
    <add key="currentTheme" value="BaseDark" />
    <add key="currentAccent" value="Green" />
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="FinTrack.Shell" />
    <namespace name="FinTrack.Shell" />
    <namespace name="FinTrack.Shell.ViewModels" />
    <container>
      <register type="IShellWindowViewModel" mapTo="ShellWindowViewModel">
        <lifetime type="singleton" />
        <constructor>
          <param name="eventAgreggator">
            <dependency />
          </param>
        </constructor>
      </register>
    </container>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>